<main class="container-fluid d-flex align-items-center">
    <div class="col-6 hero d-flex flex-column justify-content-center align-items-center p-5">
        <img src="" alt="logo">
        <span class="text-center fs-5 mt-4">Bienvenido, Para ingresar porfavor ingresar su correo y contraseña.</span>
    </div>
    <div class="col-6 formContainer d-flex flex-column justify-content-center align-items-center">
        <div class="col-9">
            <div class="login text-center rounded-3 p-5">
                <img src="assets/img/sing-in-alt-solid-1.svg" alt="">
                <div class="login_row">
                    <i class="fas fa-envelope login_icon"></i>
                    <input id="#{label}" class="login_input mail w-100" type="mail" required>
                    <label for="#{label}">Correo electonico</label>
                    <div class="bar"></div>
                </div>
                <div class="login_row">
                    <i class="fas fa-lock login_icon"></i>
                    <input class="login_input pass w-100" type="password" required>
                    <label for="#{label}">Contraseña</label>
                    <div class="bar"></div>
                </div>
                <button class=" login_submit mt-3 w-100 rounded-3" type="button" name="">Ingresar</button>
                <a href="#">¿Olvido su contraseña?</a>
            </div>
        </div>
    </div>
</main>