<main class="container-fluid d-flex align-items-center">

    <div class="col-6 hero d-flex flex-column justify-content-center align-items-center p-5">
        <img src="assets/imgsLimaLimon/LimaLimonLogo.png" alt="logo LimaLimon" class="logoLimaLimon">
        <span class="text-center mt-2">Bienvenido, Para ingresar porfavor ingresar su correo y contraseña.</span>
    </div>


    <div class="col-6 formContainer d-flex flex-column justify-content-center align-items-center">
        <div class="col-9">
            <div class="login text-center rounded-3 p-5">
                <img src="assets/img/sing-in-alt-solid-1.svg" alt="">
                <div class="login_row">
                    <i class="fas fa-envelope login_icon"></i>
                    <input id="#{label}" class="login_input mail w-100" type="mail" [formControl]="emailAdmin" required>
                    <label for="#{label}">Correo electonico</label>
                    <div class="bar"></div>
                </div>

                <div class="login_row">
                    <i class="fas fa-lock login_icon"></i>
                    <input class="login_input pass w-100" type="password" [formControl]="passwordAdmin" required>
                    <label for="#{label}">Contraseña</label>
                    <div class="bar"></div>
                </div>
                <p class="msjError" *ngIf="password?.status == 'INVALID' && (password?.touched || password?.dirty)">*La Contraseña debe tener al menos 1 digito, 1 letra mayuscula, 1 letra minuscula y 1 caracter especial</p>
                <p class="msjError" *ngIf="email?.status == 'INVALID' && (email?.touched || email?.dirty)">**Correo electronico no valido.</p>

                <button class=" login_submit mt-3 w-100 rounded-3" type="submit" name="" *ngIf="password?.status == 'INVALID' || email?.status == 'INVALID' "  (click)="redirectNow()">Ingresar</button>
                <button class=" login_submit mt-3 w-100 rounded-3" type="submit" name="" (click)="login()" *ngIf="password?.status == 'VALID' && email?.status == 'VALID' " >Ingresar</button>
            </div>
        </div>
    </div>
 
    
</main>