/* Color Theme Swatches in Hex */
$Primay: #11D469
$Secundary: #0DA351
$Background: #DBDBDB
$Alert: #FEF102
$Dark: #053D1E
$Black: #000000
$White: #FFFFFF
    
*
    box-sizing: content-box

.body
    margin: 0
    width: 100vw
    height: 90vh
    background-color: $Background
.header
    width: 100vw
    height: 10vh
    padding: 1rem
    background-color: $Primay

    