<header class="header">
    <div class="nav">
        <div class="imgNav">
            <img src="assets/imgsLimaLimon/LimaLimonHeader.png" alt="">
        </div>
        <div class="containerNav">
            <ul>
                <li [ngClass]="{li: opcionSeleccionada == 1}"><a routerLink="empresas"  (click) = "selectOption(1)">Empresas</a></li>
                <li [ngClass]="{li: opcionSeleccionada == 2}"><a routerLink="productos" (click) = "selectOption(2)">Productos</a></li>
                <li [ngClass]="{li: opcionSeleccionada == 3}"><a routerLink="motoristas"(click) = "selectOption(3)">Motoristas</a></li>
                <li [ngClass]="{li: opcionSeleccionada == 4}"><a routerLink="ordenes"   (click) = "selectOption(4)">Ordenes</a></li>
            </ul>
        </div>
        <div class="iconUserNav">
            <i class="fas fa-user-circle"></i>
            <p class="text">Mi cuenta</p>
        </div>
    </div>
</header>

<div class="body">
    <router-outlet></router-outlet>
</div>