<div class="container">
    <form [formGroup]="empresa" class="formAdd">

        <h3>Agregar empresa</h3>

        <div class="p-field p-col-12 mt-4">
            <span class="p-float-label">
                <input formControlName="nombreComercialEmpresa" class="w-100" type="text" id="inputtext" pInputText required> 
                <label for="inputtext">Nombre</label>
                <span class="error" *ngIf="!nombreComercialEmpresa?.valid && (nombreComercialEmpresa?.dirty || nombreComercialEmpresa?.touched)" >Nombre no valido</span>
            </span>
        </div>

        <div class="p-field p-col-12 mt-4">
            <span class="p-float-label">
                <input formControlName="RTN" class="w-100" type="number" id="inputtext" pInputText required> 
                <label for="inputtext">RTN</label>
                <span class="error" *ngIf="!RTN?.valid && (RTN?.dirty || RTN?.touched)" >RTN no valido</span>
            </span>
        </div>

        <div class="p-field p-col-12 mt-4">
            <span class="p-float-label">
                <input formControlName="direccion" class="w-100" type="text" id="inputtext" pInputText required> 
                <label for="inputtext">Direccion</label>
                <span class="error" *ngIf="!direccion?.valid && (direccion?.dirty || direccion?.touched)" >Direccion no valida</span>
            </span>
        </div>

        <div class="p-field p-col-12 mt-4">
            <span class="p-float-label">
                <input formControlName="descripcion" class="w-100" type="text" id="inputtext" pInputText required> 
                <label for="inputtext">Descripcion</label>
                <span class="error" *ngIf="!descripcion?.valid && (descripcion?.dirty || descripcion?.touched)" >Descripcion no valida</span>
            </span>
        </div>

        <div class="p-field p-col-12 mt-4">
            <span class="p-float-label">
                <input formControlName="telefono" class="w-100" type="number" id="inputtext" pInputText required> 
                <label for="inputtext">Telefono</label>
                <span class="error" *ngIf="!telefono?.valid && (telefono?.dirty || telefono?.touched)" >Telefono no valido</span>
            </span>
        </div>

        <div>
            <span>Categorias:</span>
            <div class="row">
                <div class="col-3" *ngFor="let cate of categoriasArray">
                    <p-checkbox [value]="cate._id" [formControl]="empresa.controls['categorias']"></p-checkbox> {{ cate.nombreCategoria }}
                </div>
            </div>
        </div>

        <div class="mt-4">
            <p-fileUpload name="logo" [auto]="true" chooseLabel="Logo" uploadLabel="Subir" cancelLabel="Cancelar" accept="image/*" [customUpload]="true" (onSelect)="imgsShow($event,'logo')" (uploadHandler)="logoUpload()"></p-fileUpload>
            <img class="imgPrev" *ngIf="logoUrl != ''" [src]="logoUrl" alt="nueva fotografia perfil">
        </div>

        <div *ngIf="logoUrl == ''" class="error">Seleccionar un logo</div>


        <div class="mt-4">
            <p-fileUpload name="banner" [auto]="true" chooseLabel="banner" uploadLabel="Subir" cancelLabel="Cancelar" accept="image/*" [customUpload]="true" (onSelect)="imgsShow($event,'banner')" (uploadHandler)="bannerUpload()"></p-fileUpload>
            <img class="imgPrev" *ngIf="bannerUrl != ''" [src]="bannerUrl" alt="nueva fotografia perfil">
        </div>

        <div *ngIf="bannerUrl == ''" class="error">Seleccionar un banner</div>





        <div class="btnGuardar">
            <button (click)="guardar()" type="submit">Guardar empresa</button>
        </div>


    </form>
</div>

<p-dialog header="Empresa agregada" [(visible)]="display" style="width: 50vw;" [closable]="false">
    <h4>Codigo Empresa: {{ newEmpresa._id }}</h4>
    <br>
    <hr>
    <div class="text-end m-2 h3">
        <button class="btn1 h3 p-2" [routerLink]="'/admin/empresas/'+newEmpresa._id">Continuar</button>
    </div>

</p-dialog>